<%# views/login.ejs %>

<% extend('layout') %>
<h1>Create Poll</h1>


<div class='container'>
  <form class="form-group" action='/' method="post">



  <label for="labels">Enter Labels (separated by commas)</label>
  <input type='text' name='labels' method='post'>

  <label for="data">Enter Data (separated by commas)</label>
  <input type='text' name='data' method='post'>





  <br>
  <button class='btn btn-primary' type="submit" name="submit">Submit</button>


  </form>
</div>
