<%# views/dashboard.ejs %>

<% extend('layout') %>

<% for(var i = 0; i < polls.length; i++) { %>


  <p>poll labels are: <%= polls[i].labels %></p>
  <p>poll data is: <%= polls[i].data %></p>

<% } %>

<script>

console.log('<%=polls[0].labels%>')
</script>
