<%# views/dashboard.ejs %>

<% extend('layout') %>

<% for(var i = 0; i < polls.length; i++){ %>

  <p>polls is: <%= JSON.stringify(polls[i]) %></p>


<canvas id="myChart"></canvas>


<script src='bundle.js'>

let Poll = require('./models/poll')

console.log(Poll)

</script>


<% } %>
