<%# views/dashboard.ejs %>

<% extend('layout') %>

<% for(var i = 0; i < polls.length; i++){ %>

  <h4>polls is: <%= JSON.stringify(polls[i]) %></h4>

<% } %>

<canvas id="myChart"></canvas>

<script>

</script>
