<%# views/login.ejs %>

<% extend('layout') %>

<div class='container'>
  <form class="form-group" action="/login" method="post">

    <h1>Log In</h1>

    <label for="username">Username</label>
    <input type='text' name='username' method='post'>

    <label for="password">Password</label>
    <input type='text' name='password' method='post'>
    <br>
    <button class='btn btn-primary' type="submit" name="submit">Submit</button>

  </form>
</div>
